* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgba(237, 237, 240, 1);
}

#viewerContainer {
  max-width: 950px;
  margin: 0 auto;
}
